.header {
  height: 60px;
  align-items: center;
  background-color: rgb(19, 25, 33);
  position: sticky;
  top: 0;
  z-index: 100;

}
.header_logo {
  width: 100px;
  /* contain that aspect ration maintain the image */
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10 px;
 
}
.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header_search :focus{
  border: 2px solid tan;
}
.header_search input {
  outline: none;
}
.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.header_searchIcon {
  cursor: pointer;
  padding: 5px;
  height: 22px !important;
  background-color: rgb(205, 144, 66);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.header_searchIcon:hover{
  background-color: rgba(205, 144, 66,0.7);
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 15px;
  column-gap: 18px;
}
.header_optionLineOne {
  font-size: 13px;
}
.header_optionLineTwo {
  font-size: 16px;
  font-weight: 800;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 px;
  color: #fff;

}

.header_optionBasket {
  color: #fff;
}
.header_optionBasket {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #fff;
}
.mobile_display{
    display: none;
  }
  .tab_deskTop_display{
     display: block;
  }
  .responsiveMenuShow{
    display: block;
    /* transition: width ease .6s; */
  }
  .responsiveMenuHidden{
    display:none;
  }
  .navHidden{
    display: none;
  }
@media screen and (max-width: 500px){
  .mobile_display{
    display: block;
  }
  .tab_deskTop_display{
    display: none;
  }
}