.checkout {
  display: flex;
  gap: 1rem;
  padding: 20px;
  background-color: #fff;
  height: max-content;
}

.checkout_left {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}
.checkout_ad {
  object-fit: contain;
  width: 100%;
  box-sizing: border-box;
}
.checkout_title{
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.mobile_banner{
  display: none;
}
@media screen and (max-width: 500px){
  .checkout {
    flex-direction: column-reverse;
  }
  .desktop_banner{
    display: none;
  }
  .mobile_banner{
    display: flex;
  }
}